:root {
    --background: #202224;
    --text-color: #ddd;
    --nav: #202020;
    --linkHover: #fe8584;
    --linkHover2: #4378a4;
    --primary: #22313f;
    --secondary: #6687a5;
    --tertiary: #a2b4c7;
    --font: 'Nunito', sans-serif;

    --buttonGradienta: #fe3458;
    --buttonGradientb: #fe8584;
    --buttonGradientc: #ff4756;
    --buttonGradientd: #ffa397;

}
  

html {
    font-family: var(--font);
    color: var(--text-color);
}


body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    background-color: var(--nav);
    padding: 10px;
    font-family: var(--font);
}

header, nav a {
    padding-right: 10px;
    display: inline-block;
    margin: 0;
}


main {
    flex: 1;
    padding: 20px;
    background-color: var(--background);
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
}

nav button {
    width: 80px;
    background-color: var(--secondary);
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 3px 10px;
}


footer {
    background-color: var(--nav);
    padding: 10px;
    text-align: center;
    font-size: 11pt;
}


.box {
    background-color: var(--primary);
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
}

.loginBox {
    text-align: center;
}

.loginBox input {
    width: 192px;
}

.loginBox button {
    width: 200px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}


button {
  
    color: var(--text-color);

    width: fit-content;
    transition: background-image 0.3s ease;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 3px 10px;
    background-size: 200% auto;
    background-image: linear-gradient(to right, var(--buttonGradienta),  var(--buttonGradientb), var(--buttonGradientb));
    color: white;
    transition: background-position 0.4s ease;
}

button:hover {
    background-image: linear-gradient(to right, var(--buttonGradientc), var(--buttonGradientd), var(--buttonGradientd));
    background-position: right center;
}

.title {
    width: fit-content;
    padding-top: 30%;
    padding-bottom: 30%;

    font-size: 50pt; 
    font-weight: 800;
    color: transparent;
    background-image: linear-gradient(to right, var(--buttonGradienta), var(--buttonGradientb));
    -webkit-background-clip: text;
    background-clip: text;
}


a {
    color: var(--text-color);
    transition: color 0.2s ease;
}

a:hover {
    color: var(--linkHover);
}