@import "../../app.css";

.calendar-event-wrapper {
	position: relative;
	display: block;
	width: 100%;
}

.calendar-event-wrapper:hover .calendar-event-edit-icon {
	opacity: 1;
}

.calendar-event-wrapper:hover .calendar-event-delete-icon {
	opacity: 1;
}

.calendar-event-edit-icon {
	position: absolute;
	top: 1px;
	right: 22px;
	opacity: 0;
	transition: opacity 0.2s;
	z-index: 2;
	background: #fcdddd;
	border-radius: 50%;
	padding: 1px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.calendar-event-delete-icon {
	position: absolute;
	top: 1px;
	right: 1px;
	opacity: 0;
	transition: opacity 0.2s;
	z-index: 2;
	background: #fcdddd;
	border-radius: 50%;
	padding: 1px;
	display: flex;
	align-items: center;
	justify-content: center;
}




.calendar-view {
	display: flex;
	flex: 1;
	width: 100%;
}

.calendar-split {
	flex: 1;
	display: flex;
	gap: 11px;
}

.calendar-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 11px;
}

fieldset {
	border: none;
}

input[type="checkbox"] {
	margin-right: 10px;
	accent-color: var(--linkHover);
}

.calendar-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 8px;
}

.menu-container {
	position: relative;
}

.three-dots {
	cursor: pointer;
	font-size: 20px;
	vertical-align: middle;
}

.dropdown-menu {
	position: absolute;
	right: 0;
	background-color: white;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	border-radius: 4px;
	padding: 8px 0;
	min-width: 150px;
	z-index: 10;
	display: none;
}

.calendar-list-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 8px;
	align-items: center;
	min-height: 24px;
}

.calendar-list-icons {
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
}

.calendar-list-menu-container {
	position: relative;
	display: flex;
	align-items: center;
	margin-left: 10px;
	height: 2.2rem;
}

.calendar-list-three-dots {
	cursor: pointer;
	font-size: 1.5rem;
	padding: 0.2rem 0.7rem;
	border-radius: 50%;
	border: none;
	background: rgba(0, 0, 0, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.2rem;
	width: 2.2rem;
	box-sizing: border-box;
}

.calendar-list-dropdown-menu {
	position: absolute;
	right: 0;
	background-color: var(--secondary);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.37);
	border-radius: 4px;
	padding: 8px 0;
	min-width: 150px;
	z-index: 10;
	display: none;
}

.calendar-list-dropdown-menu.active {
	display: block;
}

.calendar-list-dropdown-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.calendar-list-dropdown-menu li {
	padding: 8px 16px;
	cursor: pointer;
}

.calendar-list-dropdown-menu li:hover {
	background-color: #f5f5f53e;
}

.material-symbols-outlined {
	font-size: 20px;
}
  
.calendar-event {
	min-width: 100%;
	word-break: break-word;
	overflow-wrap: break-word;
	white-space: normal;
	overflow: hidden;
	background-color: var(--linkHover);
	color: #fff;
	border-radius: 10px;
	padding: 8px;
	width: 100%;
	display: block;
	text-align: left;
	box-sizing: border-box;
	transition: background 0.2s, box-shadow 0.2s;
}

.calendar-event:hover {
	background-color: #eb9e9e;
	box-shadow: 0 2px 8px rgba(45, 140, 240, 0.15);
	cursor: pointer;
}

.calendar-list-container {
	padding-left: 5px;
	padding-right: 5px;
}

.create-event-btn {
    border-radius: 6px;
    padding: 10px 10px;
}

.create-calendar-btn {
    margin-right: 0.25rem;
	padding: 0.0rem 0.5rem;

    border-radius: 50%;
    border: none;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
	font-size: 13pt;
}