@import "../app.css";

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5px;
    width: 100%;
}
  
.calendar-column {
    
    min-height: 300px;
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    border-radius: 10px;
}
  
.current-day {
    background-color: #2f3b54;
}

.column-header {
    background-color: var(--secondary);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}
  
.day-of-week {
    font-weight: bold;
}
  
.day-of-month {
    color: var(--text-color);
}
  
.column-content {
    flex-grow: 1;
    padding: 10px;
}
  
.calendar-topbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 12px;
}

  

.calendar-split {
    flex: 1;
    display: flex;
    gap: 20px;
}

.calendar-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.calendar-controls {
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
}

.calendar-controls > *:not(:last-child):after {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--secondary);
    margin-top: 15px;
    margin-bottom: 15px;
}

fieldset {
    border: none;
}