.title {
    text-align: center;
    width: 100%;
}
:root {
    --background: #202224;
    --text-color: #ddd;
    --nav: #16161a;
    --linkHover: #fe8584;
    --linkHover2: #4378a4;
    --primary: #212633;
    --secondary: #3b4457;
    --tertiary: #a2b4c7;
    --font: 'Nunito', sans-serif;

    --buttonGradienta: #fe3458;
    --buttonGradientb: #fe8584;
    --buttonGradientc: #ff4756;
    --buttonGradientd: #ffa397;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
    margin: 0;
    font-family: var(--font);
    color: var(--text-color);
    background-color: var(--background);
}

.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--nav);
    padding: 10px;
    flex-shrink: 0;
    height: 50px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Add some padding on the sides */
}

header nav div {
    display: flex;
    align-items: center;
    gap: 20px; /* Adds space between navigation links */
}

header, nav a{
    text-decoration: none;
}


main {
    flex: 1 0 auto;
    padding: 11px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
}


nav button {
    width: 80px;
    background-color: var(--secondary);
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 3px 10px;
}


footer {
    background-color: var(--nav);
    padding: 10px;
    text-align: center;
    font-size: 11pt;
    flex-shrink: 0;
}


.box {
    background-color: var(--primary);
    border-radius: 10px;
    padding: 8px;
    width: fit-content;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.356);
}

button {
  
    color: var(--text-color);

    width: fit-content;
    transition: background-image 0.3s ease;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 3px 10px;
    background-size: 200% auto;
    background-image: linear-gradient(to right, var(--buttonGradienta),  var(--buttonGradientb), var(--buttonGradientb));
    color: white;
    transition: background-position 0.4s ease;
}

button:hover {
    background-image: linear-gradient(to right, var(--buttonGradientc), var(--buttonGradientd), var(--buttonGradientd));
    background-position: right center;
}

.title {
    width: fit-content;
    padding-top: 300px;
    font-size: 7vw;
    font-weight: 800;
    color: transparent;
    background-image: linear-gradient(to right, var(--buttonGradienta), var(--buttonGradientb));
    -webkit-background-clip: text;
    background-clip: text;
}


a {
    color: var(--text-color);
    transition: color 0.2s ease;
}

a:hover {
    color: var(--linkHover);
}